$colors: (
  primaryColor: #57B26E,
  secondaryColor: #222834,
  lightBrown: #646363,
  prevNextBtn: #A4CBAC,
  lightWhite: #D8DAE2,
  white: #fff,
  black: #000,
  gray: #767676
);

$devices: (
  largeLaptop: 1440px,
  mediumLaptop: 1366px,
  laptop: 1280px,
  smallLaptop: 1024px,
  tablet: 995px,
  ipad: 768px,
  largePhone: 480px,
  mediumPhone: 375px,
  smallPhone:320px
);